<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
        <h2>{{title}}</h2>
        <center><img src = "/static/{{image_name1}}"></center>
        <center><img src = "/static/{{image_name2}}"></center>

        <div style="overflow-y:scroll">

        <iframe src="/static/{{graph_file_name1}}" width="1000" height="600" frameborder="0"></iframe>
        <iframe src="/static/{{graph_file_name2}}" width="1000" height="600" frameborder="0"></iframe>
        <iframe src="/static/{{graph_file_name3}}" width="1000" height="600" frameborder="0"></iframe>
        <iframe src="/static/{{graph_file_name4}}" width="1000" height="600" frameborder="0"></iframe>
        <iframe src="/static/{{graph_file_name5}}" width="1000" height="600" frameborder="0"></iframe>
        </div>
</body>
</html>